@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	string name = "";
}
@model IEnumerable<GS.Models.Course>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/animate.css">

	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>
	
	<!-- END nav -->

	<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Course Lists <i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Course Lists</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 sidebar">
					<div class="sidebar-box bg-white ftco-animate">
						<form id="searchForm" class="search-form" onsubmit="return false;">
							<div class="form-group">
								<span class="icon fa fa-search"></span>
								<input type="text" id="searchQuery" class="form-control" placeholder="Search...">
							</div>
						</form>
					</div>
					@* ------------------- thẻ Lớp học------------------- *@
					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Lớp Học</h3>
				
						<div class="list-group list-group-flush">
							@foreach (var categoryCountPair in ViewBag.BookCountByClass)
							{
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="checkbox_class_@categoryCountPair.Key" value="@categoryCountPair.Key" onchange="reloadCourses()">
									<label class="form-check-label" for="checkbox_@categoryCountPair.Key">
										@categoryCountPair.Key (@categoryCountPair.Value)
									</label>
								</div>
							}
						</div>
					</div>
					@* ------------------- thẻ Môn học------------------- *@
					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Môn Học</h3>

						<div class="list-group list-group-flush">
							@foreach (var categoryCountPair in ViewBag.BookCountBySubject)
							{
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="checkbox_subject_@categoryCountPair.Key" value="@categoryCountPair.Key" onchange="reloadCourses()">
									<label class="form-check-label" for="checkbox_@categoryCountPair.Key">
										@categoryCountPair.Key (@categoryCountPair.Value)
									</label>
								</div>
							}
						</div>
					</div>
					@* -----  Script CHỌN KHÓA HỌC --------*@
					<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
					<script>
						
						function reloadCourses() {
							var selectedCategories = [];
							$('input[type=checkbox]').each(function () {
								if ($(this).is(':checked')) {
									selectedCategories.push($(this).val());
								}
							});

							$.ajax({
								url: '@Url.Action("GetCoursesByCategories", "Courses")',
								type: 'GET',
								data: { categories: selectedCategories.join(',') },
								success: function (response) {
									console.log(response);
									$('#courses-list').html(response);

								}

							});
						}
					
						reloadCourses();
					</script>
					@* @section Scripts {
						<script>
							$(document).ready(function () {
								$('#searchQuery').on('keypress', function (e) {
									if (e.which === 13) { // Kiểm tra phím Enter
										e.preventDefault(); // Ngăn chặn hành vi mặc định của form

										var query = $(this).val();

										$.ajax({
											url: '@Url.Action("GetCoursesByCategories", "Courses")',
											type: 'GET',
											data: { categories: selectedCategories.join(',') },
											success: function (response) {
												console.log(response);
												$('#courses-list').html(response);

											url: '@Url.Action("Search", "Course")',
											type: 'GET',
											data: { searchString: query },
												success: function (response) {
													console.log(response);
													$('#courses-list').html(response);
												}
										});
									}
								
							});
						</script>
					} *@
		
				</div>
				<div class="col-lg-9">
					<div class="row">
			
						
						<div class="container"  id="courses-list">
							<!-- Nội dung danh sách khóa học sẽ được tải lại ở đây -->
						</div>

					
					</div>
					<div class="row mt-5">
						<div class="col">
							<div class="block-27">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<footer class="ftco-footer ftco-no-pt">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md pt-5">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">About</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
							<li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5">
					<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Help Desk</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Customer Care</a></li>
							<li><a href="#" class="py-2 d-block">Legal Help</a></li>
							<li><a href="#" class="py-2 d-block">Services</a></li>
							<li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
							<li><a href="#" class="py-2 d-block">Refund Policy</a></li>
							<li><a href="#" class="py-2 d-block">Call Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">Recent Courses</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Computer Engineering</a></li>
							<li><a href="#" class="py-2 d-block">Web Design</a></li>
							<li><a href="#" class="py-2 d-block">Business Studies</a></li>
							<li><a href="#" class="py-2 d-block">Civil Engineering</a></li>
							<li><a href="#" class="py-2 d-block">Computer Technician</a></li>
							<li><a href="#" class="py-2 d-block">Web Developer</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
								<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
								<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->

</body>
</html>