@model GS.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starttime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courseinformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courseinformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayInWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayInWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idtimece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idtimece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcs)
        </dd>

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idce">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
