@model IEnumerable<GS.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sách Khóa Học Của Tôi</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courseinformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayInWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCourse.Timestart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCourse.Timeend)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td>
                    @Html.DisplayFor(modelItem => item.NameCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Starttime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courseinformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayInWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCourse.Timestart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCourse.Timeend)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Idce">Chi Tiết</a> 
                </td>
        </tr>
}
    </tbody>
</table>
