@model GS.Models.HomeWork

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<div>
    <h4>Chi Tiết Bài Tập</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namehk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namehk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Idce)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idhk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
