@model IEnumerable<GS.Models.HomeWork>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namehk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignmentsubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idce)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namehk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignmentsubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idce)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idhk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idhk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idhk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
